.markdown-container {
    position: fixed;
    top: 0.1rem;
    bottom: 0.1rem;
    /* ← 5rem Abstand nach unten */
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: var(--color-background);
    overflow-y: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.markdown-edit {
    align-self: stretch;
    margin: 1rem;
    display: flex;
    justify-content: space-around;

}

.markdown-edit button {
    width: 8rem;
    padding: 0.5rem;
    background-color: white;
    color: var(--color-background);
    border-radius: 5px;
    cursor: pointer;
}


.markdown-container form {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    flex: 1;
    gap: 1rem;
}




.markdown-container textarea {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    height: 85%;
}



.saveButton {

    display: flex;
    justify-content: center;
}
 .saveButton button{
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    color: var(--color-background);
    border-radius: 5px;
    cursor: pointer;
}